<footer id="globalfooter">
  <div id="breadory">
    <ol id="breadcrumbs">
      <li id="home">
          <a href="http://www.apple.com/" target="_blank"> Home </a>
      </li>
      <li id="footerlabel">
          <a href="https://channelprograms-a3t.apple.com/webADCA/" target="_blank"> Apple Direct Customer Agreement</a>
      </li>
      <li id="salespolicy">
          <a href="http://www.apple.com/legal/sales_policies" target="_blank">Sales Policy </a>
      </li>
      <li id="termsofuse">
          <a href="http://www.apple.com/legal/terms/site.html" target="_blank">Terms of Use</a>
      </li>
      <li id="faq">
          <a href="faq.htm" target="_blank">FAQs</a>
      </li>
    </ol>
  </div>
  <div id="copyright" style="float: right;">
      Copyright © 2012 Apple Inc. All rights reserved.
</div>
</footer>